spring:
  cloud:
    openfeign:
      httpclient:
        hc5:
          enabled: true
      client:
        rest:
          auth-service:
            url: http://localhost:8080
            api:
              verify-token: /verify-token
              username-list: /username-list
        config:
          auth-serviceFeign:
            default-request-headers:
              content-type: application/json
  application:
    name: MessageService
  data:
    mongodb:
      uri: mongodb://localhost:27017/MessageService
  jpa:
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.OracleDialect
server:
  port: 8081
